<!-- 각 정해진 권한에 따라 보여주는-메인페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Shop</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <!-- sec:authorize= 관리자 권한만 볼수있음-->
                        <a class="nav-link" href="/admin/item/new">상품등록</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">  <!-- sec:authorize= 관리자 권한만 볼수있음-->
                        <a class="nav-link" href="/admin/items">상품 관리</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()"> <!-- 로그인(인증) 했을 경우에만 화면에 보여줌 -->
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()"> <!-- 로그인(인증) 했을 경우에만 화면에 보여줌 -->
                        <a class="nav-link" href="/orders">구매이력</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()"> <!-- 로그인 하지 않앗을때 로그인 메뉴를 보여줌 -->
                        <a class="nav-link" href="/members/login">로그인</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()"> <!-- 로그인한 상태이면 로그아웃 메뉴를 보여줌 -->
                        <a class="nav-link" href="/members/logout">로그아웃</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                    <input class="form-control mr-sm-2" name="searchQuery" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

</body>
</html>